.container{
    background: #258df5;
    width: 100vw;
    height: 100vh;
}
.RegMenu{
    padding: 15px;
    background-color: white;
    min-width: 40%;
    min-height: 60%;
    max-width: 40%;
    margin: 10vh auto;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.instruction{
    padding-top: 25px;
    font-size: 26px;
    font-weight: 700;
}
